body {
  background-image: url("images/pattern-background-desktop.svg");
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  background-color: #e8eeff;
}

.card-body {
  text-align: center;
  position: relative;
  max-width: 450px;
  margin: 20px auto 0 auto;
}
.card-body img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.order-summary {
  position: absolute;
  background-color: #ffffff;
  width: 100%;
  margin-top: -10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.order-summary-description{
    font-weight: bold;
    color: rgb(170, 170, 170);
    padding: 0px 67px;
}
.annaul-plan{
    background-color: #a5a5a568;
    padding: 7px;
    margin: 25px;
    border-radius: 10px;
}
.annaul-plan-content{
    display: flex;
    align-items: center;
}
.annaul-plan-price p{
    padding: 0px;
    margin: 5px;

}
.annaul-plan{
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.proceed-button{
    text-decoration: none;
    color: #ffffff;
    border-radius: 10px;
    margin:0 25px;
    padding: 10px 20px;
    background-color: rgb(76, 76, 250);
}
.proceed-button a{
    text-decoration: none;
    color: #ffffff;
}
.canel-order{
    margin: 12px 0 15px 0;
}
.canel-order a{
  text-decoration: none;
}