body {
  background-image: url("images/pattern-background-desktop.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #e8eeff;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-body {
  text-align: center;
  max-width: 450px;
  margin: auto;
}
.card-body img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.order-summary {
  background-color: #ffffff;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.order-summary h1 {
  font-family: "Inter", sans-serif;
  margin-top: -4px;
  padding-top: 30px;
}
.order-summary-description {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: rgb(170, 170, 170);
  padding: 0px 67px;
}
.annaul-plan {
  background-color: #e9f3ff68;
  padding: 7px;
  margin: 25px;
  border-radius: 10px;
}
.annaul-plan a {
  text-decoration: none;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}
.annaul-plan-content {
  display: flex;
  align-items: center;
}
.annaul-plan-price p {
  font-family: "Inter", sans-serif;
  padding: 0px;
  margin: 5px 5px 5px 15px;
}
.annaul-plan-price p:first-child {
  font-weight: 700;
}
.annaul-plan {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.proceed-button {
  text-decoration: none;
  color: #ffffff;
  border-radius: 10px;
  margin: 0 25px;
  padding: 15px 25px;
  background-color: rgb(76, 76, 250);
}
.proceed-button a {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
}
.canel-order {
    padding: 20px 0 50px 0;
}
.canel-order a {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 18px;
  text-decoration: none;
}
